<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--标准书写-->
    <!--<bean id="bookDao" class="com.itheima.dao.Impl.BookDaoImpl">
        <constructor-arg name="connectionNum" value="10"/>
        <constructor-arg name="databaseName" value="mysql"/>
    </bean>

    <bean id="userDao" class="com.itheima.dao.Impl.UserDaoImpl"/>

    <bean id="bookService" class="com.itheima.service.Impl.BookServiceImpl">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>-->

    <!--使用类型type区分-->
    <!--<bean id="bookDao" class="com.itheima.dao.Impl.BookDaoImpl">
        <constructor-arg type="int" value="10"/>
        <constructor-arg type="java.lang.String" value="mysql"/>
    </bean>

    <bean id="userDao" class="com.itheima.dao.Impl.UserDaoImpl"/>

    <bean id="bookService" class="com.itheima.service.Impl.BookServiceImpl">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>-->


    <!--使用第0,1...个参数区分，使用位置解决-->
    <bean id="bookDao" class="com.itheima.dao.Impl.BookDaoImpl">
        <constructor-arg index="0" value="10"/>
        <constructor-arg index="1" value="mysql"/>
    </bean>

    <bean id="userDao" class="com.itheima.dao.Impl.UserDaoImpl"/>

    <bean id="bookService" class="com.itheima.service.Impl.BookServiceImpl">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>
</beans>